.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: beige;
  gap: 1rem;
  margin-top: 0.5rem;
}

@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: row;
  }
}
