.container {
  background-color: rgb(159, 188, 159);
  max-width: 100vw;
  padding: 0 1em;
  border-radius: 0.5em;
  border: rgb(121, 171, 143) solid 1px;
  margin: 0.2em;
}

.closeButton {
  border-color: black;
  border-radius: 1em;
  font: bolder;
  background: none;
}
.closeButton:hover {
  background-color: whitesmoke;
  color: black;
  font: bolder;
  animation: ease-in 0.5s;
}

.image {
  border-radius: 2em;
  width: 300px;
}

.name {
  padding: 0;
  font-weight: bolder;
  font-size: xx-large;
  color: rgb(5, 50, 5);
}

.gender {
  padding: 0;
  font-weight: lighter;
}
