.container {
  background-color: rgb(159, 188, 159);
  max-width: 260px;
  max-height: 40rem;
  padding: 0 1rem;
  border-radius: 0.5em;
  height: fit-content;
  border: rgb(121, 171, 143) solid 1px;
  gap: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: clip;
}

.container:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px 2px rgb(73, 211, 73);
}

.closeButton {
  border-color: black;
  border-radius: 1em;
  font: bolder;
  background: none;
}
.closeButton:hover {
  background-color: whitesmoke;
  color: black;
  font: bolder;
  animation: ease-in 0.5s;
}

.image {
  border-radius: 2rem;
  width: 250px;
  max-height: 250px;
  justify-self: center;
}

.name {
  padding: 0;
  font-weight: bolder;
  font-size: x-large;
  color: rgb(5, 50, 5);
}

.gender {
  padding: 0;
  font-weight: lighter;
}
